*.*~
*.bak
*.swo
*.swp
.*.swo
.*.swp
.autotest
.DS_Store
.LCK*
.geanyprj
.idea
.sass-cache
config/database.yml
coverage/*
db/*.sqlite3
db/*.sqlite3-journal
db/development_structure.sql
files/*
log/*.log
mkmf.log
nbproject
public/javascripts/all.js
public/stylesheets/*
rerun.txt
spec/spec.opts
spec/spec.html
test/file_sandbox/*
Thumbs.db
tmp/*
